server {
  server_name _;
  root /var/web{{ drupal_docroot }}/;
  error_log /var/log/nginx/container.log;

  # Enable compression, this will help if you have for instance advagg module
  # by serving Gzip versions of the files.
  gzip_static on;

  location = /favicon.ico {
    log_not_found off;
    access_log off;
  }

  location = /robots.txt {
    allow all;
    log_not_found off;
    access_log off;
  }

  # Very rarely should these ever be accessed outside of your lan
  location ~* \.(txt|log)$ {
    allow 192.168.0.0/16;
    deny all;
  }

  location ~ \..*/.*\.php$ {
    return 403;
  }

  # No no for private
  location ~ ^/sites/.*/private/ {
    return 403;
  }

  # Block access to "hidden" files and directories whose names begin with a
  # period. This includes directories used by version control systems such
  # as Subversion or Git to store control files.
  location ~ (^|/)\. {
    return 403;
  }

  location / {
    try_files $uri @rewrite;
  }

  location @rewrite {
    rewrite ^\/(.*)$ /index.php?q=$1;
  }

  location ~ \.php$ {
    include php.conf;
  }

  # Fighting with Styles? This little gem is amazing.
  location ~ /sites/.*/files/styles/ {
    try_files $uri @rewrite;
  }

  location ~ /sites/.*/files/imagecache/ {
    try_files $uri @rewrite;
  }

  # Private files image styles
  location ~* /system/files/.*\.(png|jpg|jpeg|gif|ico)$ { # If the image does not exist, it must be a private file.
    try_files $uri @rewrite;
  }

  location ~* \.(js|css|png|jpg|jpeg|gif|ico)$ {
    expires max;
  }

  # Deny listed requests for security reasons.
  location ~* (/\..*|settings\.php$|\.(?:git|htaccess|engine|make|config|inc|ini|info|install|module|profile|pl|po|sh|.*sql|theme|tpl(?:\.php)?|xtmpl)$|^(?:Entries.*|Repository|Root|Tag|Template))$ {
    return 404;
  }

  # Deny listed requests for security reasons.
  location ~* /(?:modules|themes|libraries)/.*\.(?:txt|md)$ {
    return 404;
  }

  # Serve & no-log any not specified above static files directly.
  location ~* ^/sites/.*/files/ {
    access_log      off;
    tcp_nodelay     off;
    expires         30d;
    try_files $uri =404;
  }
}
